//* * Font Variable *
$font-raleway: 'Raleway',
sans-serif;
//* * Color Variable *
$black: #131617;
$bg-grey-dark: #F3F3F3;
$bg-grey-light: #f7f7f7;
$txt-grey: #a5a4a4;
$btn-bg: #04ADF3;
$bg-color:#207fa6;
$color:#171a20;
$color1:#1ca58a;
$color2:#0696d4;
$color3:#9153a9;
$color4:#edb813;
$color5:#71b55b;
$bg-color1:#f3f3f3;